<div role="alert" class="rounded-xl border border-green-900 text-white bg-green-900 p-4 mb-5">
    <div class="flex items-start gap-4">
       <div class="flex-1">
        <strong class="block font-medium text-white"> Country added </strong>
  
        <p class="mt-1 text-sm text-gray-200">New country added to the list.</p>
      </div>
  </div>
  </div>